* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

:root {
  --primary-color: #ee9717;
  --secondary-color: #87f6bd;
  --accent-color: #4cd6f2;
  --text-color: #1b1202;
  --background-color: #fef9f3;
}

.mainNav {
  height: 10vh;
  background-color: var(--primary-color);
  padding: 20px;
}

.mainNav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.mainNav ul li {
  list-style: none;
  margin-left: 20px;
}

.mainNav ul li a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  /* border: 1px solid var(--primary-color); */
  box-shadow: 3px 3px 5px 5px rgba(135, 246, 189, 0.4);

  color: var(--text-color);
  padding: 0.3em 1em;
  /* font-family: $merry; */
  border-radius: 1rem;
  overflow: hidden;

  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--secondary-color);

    inset: 0;
    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
  }

  &:hover::after,
  &:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
  }
}

.mainNav ul li a:active {
  font-weight: bold;
}
