* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

:root {
  --primary-color: #ee9717;
  --secondary-color: #87f6bd;
  --accent-color: #4cd6f2;
  --text-color: #1b1202;
  --background-color: #fef9f3;
}

.mainNav {
  height: 10vh;
  background-color: var(--primary-color);
  padding: 20px;
}

.mainNav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.mainNav ul li {
  list-style: none;
  margin-left: 20px;
}

.mainNav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
}

.mainNav ul li a:active {
  font-weight: bold;
}
